@{
    ViewData["Title"] = "Dishes";
}
@model IEnumerable<ActualSite.CartDish>

<h2 class="text-uppercase text-center mb-5">@ViewData["Title"]</h2>
<div class="container py-5">
    <p class="card-text">Total price: @Model.Sum(d => d.Price* d.Quantity)</p>
    <div class="row">
        <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
            @foreach (var item in Model)
            {
                <div class="d-flex justify-content-between p-3">
                    <div class="card" style="width: 18rem;">
                        <img src="~/image.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">@item.Description</p>
                            <p class="card-text">@item.Quantity</p>
                            <table>
                                <tr>
                                    <td>
                                        <a asp-area="" asp-controller="Home" asp-action="DishInfo" asp-route-id="@item.IdDish" class="btn btn-primary my-1">Info</a>
                                    </td>

                                    <td>
                                        <form asp-action="RemoveFromCart" method="post">
                                            <input type="hidden" name="id" value="@item.IdDish" />
                                            <button class="btn btn-primary alert" type="submit">Remove from cart to cart</button>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                            <h6>Price: @item.Price</h6>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
